[submodule "third_party_libs/libfs"]
	path = third_party_libs/libfs
	url = https://github.com/Nauja/libfs.git
[submodule "third_party_libs/metalang99"]
	path = third_party_libs/metalang99
	url = https://github.com/Nauja/libfs.git
