docs/source*
man/*
!man/refman.pdf
docs/doxygen-awesome-css/*
src/documentation_pages/*
codecov
codecov.exe
/.vscode
/api
*.gcno
*.gcda
*.gcov
test/tmp/*
main.c 
prog
txt.txt
*.old
*.o
test.c
!test/src_test/test.c
test_.c
test__.c 
nobuild*
build_lib*
Makefile_
test_ 
!lib/libFManC_linux_x86_64.a
export_cov.sh
export_cov.bat
*prog*
src/general/utils/FMC_mtx*
FMC_mtx*