docs/source*
man/*
!man/refman.pdf
docs/doxygen-awesome-css/*
src/documentation_pages/*
codecov
codecov.exe
/.vscode
/api
*.gcno
*.gcda
*.gcov
test/tmp/*
*.old
*.o
nobuild*
build_lib*
Makefile_
test_ 
!lib/libFManC_linux_x86_64.a
export_cov.sh
export_cov.bat
src/general/utils/FMC_mtx*
.markdownlintignore
mkdocs/site*
.clang-format

# Random test files just for myself
main.preprocessed.c
main2.c
main2
main3.c
main3
test_.c
test__.c 
main.c 
prog
test.c
!test/src_test/test.c
txt.txt
txt*
*prog*