/* :root > * {
  /* --md-code-hl-function-color: #8f529b;
  --md-code-hl-name-color:var(--md-code-hl-function-color);
  --md-code-hl-punctuation-color: #ccbcbc;
  --md-code-hl-special-color: #888888;
  --md-code-hl-keyword-color: rgb(219, 117, 117); */
/* }  */


